<header class="main-header">
    <nav class="main-header__nav">
        <div>
            
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="<%= path === '/' ? 'active': ''%>" href="/soldiers">Soldiers</a>
                </li>
                <li class="main-header__item"><a class="<%= path === '/sum-of-soldiers' ? 'active': ''%>" href="/sum-of-soldiers">Sum of Soldiers</a>
                </li>
                <li class="main-header__item"><a class="<%= path === '/top-soldiers' ? 'active': ''%>" href="/top-soldiers">Top Soldiers</a>
                </li>
                
                
            </ul>
            
        </div>
        
    </nav>
</header>
    <div>

</div>