<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/SoldierProfiles.css">
</head>
<body>
    <%- include('./includes/navigation.ejs') %>
    <h1>Soliders</h1>
    <div class="container mt-5 d-flex justify-content-center">
        <div class="card p-3 ">
            <div class="d-flex align-items-center">
                <div class="ml-3 w-100">
                    <h4 class="mb-0 mt-0"></h4> <span>sadf</span>
                    <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                        <div class="d-flex flex-column"> <span class="articles">Articles</span> <span class="number1">38</span> </div>
                        <div class="d-flex flex-column"> <span class="followers">Followers</span> <span class="number2">980</span> </div>
                        <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3">8.9</span> </div>
                        <div class="d-flex flex-column"> <span class="rating">Rating</span> <span class="number3"></span> </div>

                            <li>f</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <%- include('./includes/end.ejs') %> 