@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}
.soldier-btn {
  font: inherit;
  text-decoration: none;
  border: 2px solid #00b19c;
  color: #00b19c;
  background: rgb(33, 36, 37);
  border-radius: 16px;
  position: relative;
  left:1em;
  height: 8.3em;
  cursor: pointer;
  margin:10px;
  padding: 0px;
  display:block;
}
.soldier-btn:hover,
.soldier-btn:active {
  font: inherit;
  text-decoration: none;
  border: 2px solid #00b19c;
  color: #00695c;
  background: white;
  border-radius: 16px;
  position: relative;
  left:1em;
  height: 8.3em;
  cursor: pointer;
  margin:10px;
  padding: 0px;
  display:block;
  background-color: #00695c;
  transform-origin: 2px 30% 10px;
  transform: scale(1.03,1);
  color: white;


}
.soldier-btn:focus{
  background-color: #242424;
  border-color: rgb(17, 97, 27);
}
.active-soldier-btn{
  font: inherit;
  text-decoration: none;
  border: 2px solid #009987;
  color: #182b28;
  background: white;
  border-radius: 16px;
  position: relative;
  left:1em;
  height: 8.3em;
  cursor: pointer;
  margin:10px;
  padding: 0px;
  display:block;
  background-color: #1a685b;
  transform-origin: 2px 30% 10px;
  transform: scale(1.05,1);
  color: white;
}


.scroll{
  direction:ltr; 
  overflow:auto; 
  height:50px; 
  width:50px;}


.soldier-info{
  border: 8px solid #828380;
  block-size: 150px;
  background-color:rgb(46, 50, 52);
  border-color: rgb(83, 90, 94);
  width: 60em;
  height: 47em;
  position:absolute;
  left: 54em;
  margin:10px;

}
.inner-circle{
  display:inline-block;   /* add this */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  position:relative;
  bottom:1em;
  right:0.23em;
  border-color: rgb(37, 37, 37);
  background-color: rgba(83, 83, 83, 0);
  
}
.exit-btn{
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.exit-btn:hover {
  opacity: 1;
}
.exit-btn{
  transform-origin: center;
	position: absolute;
	transition: transform .25s, opacity .25s;
	opacity: .7;
  text-decoration: none;
	cursor: pointer;
	font-size: 3em;
	font-family: serif;
	line-height: 1;
  transform-origin: 46% 80%;
  color: rgb(0, 0, 0);
}
.exit-btn:before {
  content: "\d7";
}

.exit-btn:hover{
  transform: rotate(180deg);
  color: rgb(163, 24, 24);
  opacity: 1;

}



.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

.scrolling-area {

  width: 50em;
  overflow-y: scroll;
  height:800px;
  
  scrollbar-arrow-color: rgb(255, 255, 255)
}
::-webkit-scrollbar {
  width: 20px;
  }
  ::-webkit-scrollbar-track {
  background-color: #0f0f0f;

  }
  ::-webkit-scrollbar-thumb {
  background-color: #454a4d;

  }
.scrolling-element-inside {
  display: flex;
  flex: auto;
  flex-direction: column;
  width: 45em;

}

.container.zoom_shrink:hover .close_icon.zoom_shrink
{
  font-size: 1.2em;
}


