body {
    background-color: #B3E5FC;
    border-radius: 10px
}

.card {
    width: 400px;
    border: none;
    border-radius: 100px;
    background-color: #fff
}
.graybox {
    float: left;
    height: 100px;
    width: 400px;
    line-height: 100px;
    transform-origin: 100% 50%;
    animation: main .5s;
  }
  
  @keyframes main {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
.stats {
    background: #f2f5f8 !important;
    color: #000 !important
}

.articles {
    font-size: 10px;
    color: #a1aab9
}

.number1 {
    font-weight: 500
}

.followers {
    font-size: 10px;
    color: #a1aab9
}

.number2 {
    font-weight: 500
}

.rating {
    font-size: 10px;
    color: #a1aab9
}

.number3 {
    font-weight: 500
}

.soldier-btn{
    font: inherit;
    border: 1px solid #00695c;
    background: white1;
    border-radius: 3px;
    cursor: pointer;
  }
  .soldier-btn:active{
    color: red;
  }
